# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = tomomitsu.haruki
#	email = tomomitsu.haruki@gmail.com
[user]
	name = Tomomitsu Haruki
#	email = tomomitsu.haruki@gmail.com
[color]
	ui = true
[diff]
	tool = vimdiff3
[alias]
	s = status
	a = !git add . && git status
	au = !git add -u . && git status
	aa = !git add . && git add -u . && git status
	c = commit
	cm = commit -m
	ca = commit --amend # careful
	ac = !git add . && git commit
	acm = !git add . && git commit -m
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	ll = log --stat --abbrev-commit
	lg = log --color --graph --pretty=format:'%C(bold white)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	llg = log --color --graph --pretty=format:'%C(bold white)%H %d%Creset%n%s%n%+b%C(bold blue)%an <%ae>%Creset %C(bold green)%cr (%ci)' --abbrev-commit
	d = diff
    dd = difftool
	master = checkout master
    #spull = svn rebase
    #spush = svn dcommit
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[include]
    path = ~/.gitconfig.user

[core]
	editor = vim
